$primary-color: #0055d4;
$secondary-color: #ffffff;
$price-color: #3c3c3c;
$button-color: #007bff;
$button-text-color: #ffffff;
$footer-bg-color: #f1f1f1;
$footer-text-color: #7a7a7a;

.app-container {
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  font-family: "Inter", sans-serif;
  background-color: #f9f9f9;
  width: auto;
  height: auto;
  padding-top: 60px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
}

.footer {
  background-color: $footer-bg-color;
  text-align: center;
  padding: 10px 0;
  color: $footer-text-color;
  position: fixed;
  bottom: 0;
  width: 100%;
}
